<%- include('../../includes/header',{loginUser}); %>

<!-- trainers edit start -->
<section class="app-user-edit">
	<div class="card">
		<div class="card-body">
			<!-- users edit account form start -->
			<form
				class="form-validate"
				method="POST"
				novalidate="novalidate"
				action="/admin/goals/edit/<%= goal._id %>"
			>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label for="name">Name</label>
							<input
								type="text"
								class="form-control"
								placeholder="Name"
								value="<%= goal.name %>"
								name="name"
								id="name"
							/>
						</div>
					</div>

					<div class="mt-2 col-12 d-flex flex-sm-row flex-column">
						<button
							type="submit"
							class="mb-1 mr-0 btn btn-primary mb-sm-0 mr-sm-1 waves-effect waves-float waves-light"
						>
							Save Changes
						</button>
						<a
							class="btn btn-outline-secondary waves-effect"
							href="/admin/courses"
							>Cancle</a
						>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<input type="hidden" id="activeSideBar" value="goals" />
<%- include('../../includes/footer',{loginUser}); %>
