<%if(loginUser){ %>
    <!-- <div class="row breadcrumbs-top">
        <div class="col-12">
            <h2 class="content-header-title float-left mb-0">Knowledge Base</h2>
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="<%= siteUrl %>">Home</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Pages</a>
                    </li>
                    <li class="breadcrumb-item active">Knowledge Base
                    </li>
                </ol>
            </div>
        </div>
    </div> -->
<% } %>