<% 
if(messages.info || messages.error || messages.success || messages.warning){
    var message = "", type = "info"; 
    if(messages.info){ 
        message = messages.info;
        type= "info"; 
    } 
    if(messages.error){
        message = messages.error; 
        type="error";
    } 
    if(messages.success){
        message = messages.success; 
        type= "success";
    }
    if(messages.warning){ 
        message = messages.warning; 
        type= "warning";
    } 
%>
<div
    id="siteToast"
    data-title="<%= message %>"
    data-info="<%= type.charAt(0).toUpperCase() + type.slice(1) %>"
    data-type="<%= type %>"
></div>
<% } %>

