<%- include('includes/header',{loginUser}); %>
<!-- Coming soon page-->
<div class="misc-wrapper">
    <div class="misc-inner p-2 p-sm-3">
        <div class="w-100 text-center">
            <h2 class="brand-text text-primary ml-1"><%= title %></h2>
            <h2 class="mb-1">We are launching soon 🚀</h2>
            <p class="mb-3">We're creating something awesome. Please subscribe to get notified when it's ready!</p>
            <img class="img-fluid" src="<%= siteUrl %>/app-assets/images/pages/coming-soon.svg" alt="Coming soon page" />
        </div>
    </div>
</div>
<!-- / Coming soon page-->
