<%
    let array = [
        {
            "label":"Active",
            "value": true
        },
        {
            "label":"Deactivated",
            "value": false
        }
    ]
%>
<div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" id="status" name="status">
        <% array.forEach(arr => {  %>  
            
            <% if(arr.value == status) { %>
                <option value="<%= arr.value %>" selected> <%= arr.label %> </option>
            <% } else {%>
                <option value="<%= arr.value %>"> <%= arr.label %> </option>
            <% } %>

        <%  }); %>
    </select>
</div>